footer{
    background-color: rgb(10, 10, 10);
    color: white;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    margin-top: auto;
    
}

.footer-content{
    max-width: 1270px;
    display: flex;
    justify-content: space-around;
}

.footer-content div{
    margin-right: 30px;
}

.footer-content a{
    display: flex;
    flex-direction: column;
    color: white;
}